*{
    margin: 0;
    padding: 0;
}

.container
{
  border: 2px solid black;
    margin-top: 100px;
    padding: 40px;
}
.container1
{
    border: 2px solid black;
    margin-top: 70px;
    padding: 40px;
    
}
.container2
{
    border: 2px solid black;
    margin-top: 70px;
    padding: 40px;
}
#button
{
   margin-top: 30px;
    padding: 10px;
    width: 100px;
    border-radius: 20px;
    color: white;
    background-color: black;
    font-weight: bold;

}
.table
{
    margin-top: 30px;
   
}

#res
{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    font-weight: bold;
    margin-top: 15px;
}
